.app_pink_theme {
    --bg-color: #ffe0e9;
    --inverted-bg-color: #ab1b44;

    --primary-color: #891579;
    --secondary-color: #ffa0f2;

    --inverted-primary-color: #f5bbcb;
    --inverted-secondary-color: #FBF4F6;
}
